{pre_hooks, [{"(linux|darwin)", compile, "make compile"}]}.
{post_hooks, [{"(linux|darwin)", clean, "make clean"}]}.

{artifacts, ["priv/erlxml_nif.so"]}.

{project_plugins, [rebar3_hex]}.


%% remove the comment in case you want to run your own benchmarks
%%{
%%    deps,
%%    [
%%        {fast_xml, ".*", {git, "https://github.com/processone/fast_xml.git", {tag, "1.1.30"}}},
%%        {exml, ".*", {git, "https://github.com/esl/exml.git", {tag, "3.0.1"}}}
%%    ]
%%}.

